[0;1;32m●[0m docker.service - Docker Application Container Engine
     Loaded: loaded (]8;;file://archlinux/usr/lib/systemd/system/docker.service\/usr/lib/systemd/system/docker.service]8;;\; [0;1;38:5:185mdisabled[0m; preset: [0;1;38:5:185mdisabled[0m)
     Active: [0;1;32mactive (running)[0m since Tue 2026-06-09 01:44:12 IST; 23s ago
 Invocation: 23e09fd07aea4a0c8fd8efcb35baad2b
TriggeredBy: [0;1;32m●[0m docker.socket
       Docs: ]8;;https://docs.docker.com\https://docs.docker.com]8;;\
   Main PID: 10768 (dockerd)
      Tasks: 17
     Memory: 93.8M (peak: 98.1M)
        CPU: 374ms
     CGroup: /system.slice/docker.service
             └─[0;38:5:245m10768 /usr/bin/dockerd -H fd:// --containerd=/run/containerd/containerd.sock[0m

Jun 09 01:44:11 archlinux dockerd[10768]: time="2026-06-09T01:44:11.963676326+05:30" level=info msg="Restoring containers: start."
Jun 09 01:44:11 archlinux dockerd[10768]: time="2026-06-09T01:44:11.992639563+05:30" level=info msg="Deleting nftables IPv4 rules" error="exit status 1" output="Error: Could not process rule: No such file or directory\ndelete table ip docker-bridges"
Jun 09 01:44:12 archlinux dockerd[10768]: time="2026-06-09T01:44:12.014532814+05:30" level=info msg="Deleting nftables IPv6 rules" error="exit status 1" output="Error: Could not process rule: No such file or directory\ndelete table ip6 docker-bridges"
Jun 09 01:44:12 archlinux dockerd[10768]: time="2026-06-09T01:44:12.304352224+05:30" level=info msg="Loading containers: done."
Jun 09 01:44:12 archlinux dockerd[10768]: time="2026-06-09T01:44:12.314272059+05:30" level=info msg="Docker daemon" commit=568f755ebe containerd-snapshotter=true storage-driver=overlayfs version=29.5.2
Jun 09 01:44:12 archlinux dockerd[10768]: time="2026-06-09T01:44:12.314474952+05:30" level=info msg="Initializing buildkit"
Jun 09 01:44:12 archlinux dockerd[10768]: time="2026-06-09T01:44:12.332611343+05:30" level=info msg="Completed buildkit initialization"
Jun 09 01:44:12 archlinux dockerd[10768]: time="2026-06-09T01:44:12.340799120+05:30" level=info msg="Daemon has completed initialization"
Jun 09 01:44:12 archlinux dockerd[10768]: time="2026-06-09T01:44:12.340886712+05:30" level=info msg="API listen on /run/docker.sock"
Jun 09 01:44:12 archlinux systemd[1]: Started Docker Application Container Engine.
